<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
      <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico"> -->
      <!--
        Notice the use of %PUBLIC_URL% in the tags above.
        It will be replaced with the URL of the `public` folder during the build.
        Only files inside the `public` folder can be referenced from the HTML.

        Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
        work correctly both with client-side routing and a non-root public URL.
        Learn how to configure a non-root public URL by running `npm run build`.
      -->
      <title>Index</title>

      <style>
*,
  *::before,
  *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    flex: 1;
  }
      </style>
  </head>

  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <header>
      <h1>Testing</h1>
      <ul>
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <li>
          <a href="/products">Contracts</a>
        </li>
        <li>
          <a href="/invoices">Invoices</a>
        </li>    
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    </header>

    <!-- <div data-id="ContractNav-2001" data-component="ContractNav" data-config="ContractNav-2001-config" data-render="true"></div>
      <script type="module/config" id="ContractNav-2001-config">
        {"id": "PROPS ContractNav-2001"}
      </script>

      <div data-id="NotificationCount-2001" data-component="NotificationCount" data-config="NotificationCount-2001-config" data-render="true"></div>
      <script type="module/config" id="NotificationCount-2001-config">
        {"id": "PROPS NotificationCount-2001"}
      </script>

      <div data-id="app-1001" data-component="App" data-config="app-config" data-render="true"> -->


        <!-- 
          <div data-id="ContractNav-1001" data-component="ContractNav" data-config="ContractNav-1001-config" data-render="false"></div>
          <script type="module/config" id="ContractNav-1001-config">
            {"id": "PROPS ContractNav-1001"}
          </script>

          <div data-id="ContractNav-1002" data-component="ContractNav" data-config="ContractNav-1002-config" data-render="false"></div>
          <script type="module/config" id="ContractNav-1002-config">
            {"id": "PROPS ContractNav-1002"}
          </script>

          <div data-id="NotificationList-1001" data-component="NotificationList" data-config="NotificationList-1001-config" data-render="false"></div>
          <script type="module/config" id="NotificationList-1001-config">
            {"id": "PROPS NotificationList-1001"}
          </script>

          <div data-id="NotificationCount-1001" data-component="NotificationCount" data-config="NotificationCount-1001-config" data-render="false"></div>
          <script type="module/config" id="NotificationCount-1001-config">
            {"id": "PROPS NotificationCount-1001"}
          </script> -->
          <!--     <div data-uid="contract-list-1001" data-component="Contract" data-config="contract-list-1001-config" data-render="true"></div>
            <script type="module/config" id="contract-list-1001-config">
              {
        "type": "CustomerList",
        "uid": "customer-list-1001",
        "viewType": "default",
        "labels": {
          "dashboardText":"Search for a Contract",
          "contractType": {    
            "label": "All Contracts",             
            "options" : [
                {
                    "name": "All Contract Types",
                    "value": "all"
                }, 

                {
                    "name": "Service Contract",
                    "value": "Service"
                },
                {
                    "name": "Sales Contracts",
                    "value": "Sales"
                }
              ]
        },

        "contractStatus": {
            "label": "All Contracts",             
            "options" : [
                {
                    "name": "All Status",
                    "value": "all"
                }, 

                {
                    "name": "Unsigned",
                    "value": "unsigned"
                },
                {
                    "name": "Signed",
                    "value": "signed"
                },
                {
                  "name": "Completed",
                  "value": "completed"
              }
              ]            
        },

        "sortBy": {
            "label": "Sort By",             
            "options" : [
                {
                    "name": "Sort by Expiring Soonest",
                    "value": "sort-by-expiring-soonest"
                }, 

                {
                    "name": "Sort by Expiring Latest",
                    "value": "sort-by-expiring-latest"
                }                  
              ]            
        },

          "contractTitle": "Viewing ## of ## contracts",
          "test": "test",
          "cakNo": "Cak No",
          "balanceStock": "Remaining",
          "cakDate": "Expires",
          "noShipment": "No schedule Shipments",
          "shipmentLabel": "shipment arriving",
          "loadMore":"Load More Contracts",
          "allTypes": "All Types",
          "allStatuses": "All Statuses",
          "loadMore": "Load More Contacts",
          "filterLabel": "Filter by Commodity or Contract Number",
          "noContractLabel":"There aren’t any contracts that match your search. Try adjusting your filters above."
      }
    }
            </script>
      </div>
      -->

      <footer>
        <li>
          <a href="/sitemap">Sitemap</a>
        </li>
        <li>
          <a href="/contact-us">Contact Us</a>
        </li>
      </footer>

      <script type="text/javascript">
        window.__INITIAL_STATE__ = {
          "notifications": [
            { "label": "Notification 1: Your contract is pending" },
            { "label": "Notification 2: Your contract is pending" },
            { "label": "Notification 4: Your contract is pending" }
          ]
        };
        window.__APP_CONFIG__ = {
          "lang": "en"
        }
        window.__COMPONENT_CONFIG__ = {
          "ContractNav-1001": { id: "PROPS ContractNav-1001" },
          "ContractNav-1002": { id: "PROPS ContractNav-1002" },
          "ContractNav-2001": { id: "PROPS ContractNav-2001" },
          "NotificationCount-1001": { id: "PROPS NotificationCount-1001" },
          "NotificationCount-2001": { id: "PROPS NotificationCount-2001" },
          "NotificationList-1001": { id: "PROPS NotificationList-1001" },
          /* "contract-list-1001" : {id : "contract-list-1001"}, */
          "app-1001": { uid: "app-1001" }


        }
      </script>

  </body>

</html>
